/*-------------------------------------------------------------------------
--> TOOLS <--
---------------------------------------------------------------------------
## FlexBox Mixin on different axis[X(row), Y(columns)]
## and different alignment
-------------------------------------------------------------------------*/

/*----------------------------------
  FlexBox
----------------------------------*/

@define-mixin flex-box $direction, $align, $justify {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}