/*-------------------------------------------------------------------------
--> BASE <--
---------------------------------------------------------------------------
## Document
-------------------------------------------------------------------------*/


/*----------------------------------
  <HTML>
# Set the default `font-size` for entire HTML document, this help us to
# know the right value of `rem`
----------------------------------*/

html {
  
}

/*----------------------------------
  <BODY>
# Set the specific `background-color`, `font-family` and `font-size` for entire content
----------------------------------*/

body {
 
}
