/*-------------------------------------------------------------------------
--> BASE <--
---------------------------------------------------------------------------
## Document
-------------------------------------------------------------------------*/

/*----------------------------------
  <HTML>
# Set the default `font-size` for entire HTML document, this help us to
# know the right value of `rem`
----------------------------------*/

html {
  font-family: var(--font-family_primary);
  font-size: 10px;
}

/*----------------------------------
  <BODY>
# Set the specific `background-color`, `font-family` and `font-size` for entire content
----------------------------------*/

body {
  background-color: #f2f2f2;
}
